.App {
  min-height: 100vh;
  background: linear-gradient(180deg, 
    #0a0e27 0%, 
    #1a1f3a 25%, 
    #1e2749 50%, 
    #1a1f3a 75%, 
    #1a1410 90%,
    #0f0a06 100%);
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
